.img_logo {
    width: 85px;
    height: 85px;
    background-image: url(\ DevDream.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.landingInput {
    border: none;
    outline: none;
    width: 40vw;
    height: 10vh;
    font-size: 60px;
    background: transparent;
    border-bottom: 2px solid yellowgreen;

}